@model MaromFit.Models.ViewModel.PlanClientViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    @{ 
        var minhaClasse = Model.Planos.Count > 1 ? "classeTeste" : null; // if ternario
        //var novamente = minhaClasse != null ? "passou" : Model.Planos.Count > 0 ? "passou pouco" : "não passou";
    }

    <h1 class="@minhaClasse">@Model.Usuario.Name</h1>

    @if(Model.Planos.Count > 0)
    { 

    foreach (var plano in Model.Planos)
    {
        <ul>

            <li>@plano.Name / @plano.Value</li>

        </ul>
    }

    }

    else
    {
        <p> "Não existem Planos!"</p>
    }
 </div>

